@using FashionStore.Models.Models
@model Color

@{
    ViewBag.Title = Model.Id == 0 ? "Create Color" : "Edit Color";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Upsert" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HexValue" class="control-label"></label>
        <input asp-for="HexValue" class="form-control" />
        <span asp-validation-for="HexValue" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" type="file" class="form-control-file" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@Model.Id == 0 ? "Create" : "Save Changes"</button>
</form>